<style>
#container {
            max-width: 80%;
            height: 80%;
            overflow: hidden;
            border-radius: 10px;
            padding: 20px;
        }

        h1 {
            color: black;
        }

        p {
            color: rgba(0, 0, 0, 0.699);
            
        }
    </style>
<div id="container">
    <h3 style="text-align: center;">About</h3>
    <p>Hello World, Welcome to Ranjeet's blog! Get ready to dive into a mix of Tech Insights, Stories, and useful stuff, mostly about Embedded Systems, IoT, Programming and DIY project ideas. Stick around and let's have a great time exploring together!</p>
</div>

